name: Auto Request Reviewers

on:
  pull_request:
    types: [opened, reopened, ready_for_review]

permissions:
  pull-requests: write

jobs:
  assign-reviewers:
    runs-on: ubuntu-latest
    steps:
      - name: Assign reviewers
        uses: peter-evans/request-review@v3
        with:
          reviewers: ${{ 
            github.event.pull_request.base.ref == 'develop' && 'PriyaGajjala,SreeDevopsNihi' ||
            github.event.pull_request.base.ref == 'master' && 'SreeDevopsNihi,vinodmk23j' || ''
          }}
