name: Auto Request Reviewers by Target Branch

on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]

permissions:
  pull-requests: write
  contents: read

jobs:
  assign-reviewers:
    runs-on: ubuntu-latest

    steps:
      - name: Debug print event info
        run: |
          echo "PR base branch: ${{ github.event.pull_request.base.ref }}"
          echo "PR head branch: ${{ github.event.pull_request.head.ref }}"

      - name: Assign reviewers automatically
        uses: peter-evans/request-review@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          reviewers: ${{ 
            github.event.pull_request.base.ref == 'develop' && 'PriyaGajjala,SreeDevopsNihi' ||
            github.event.pull_request.base.ref == 'master'  && 'SreeDevopsNihi,vinodmk23j' || ''
          }}
